.client-slider {
  padding: 0 2.5rem;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-slider .slide {
  position: relative;
  max-width: 400px;
  max-height: 90% !important;
  height: 300px;
  margin: 0 auto !important;
  display: flex !important;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  transform: scale(0.5);
  transition: transform 300ms;
  opacity: 0.5;
  /* md */
  @media (max-width: 768px) {
    max-width: 300px;
    height: 250px;
  }
}

.client-slider .activeSlide {
  transform: scale(1);
  opacity: 1;
}
